body {
  font-family: Arial, Helvetica, sans-serif;
  color: #867e77;
}
@media screen and (min-width: 37.5em) {
  body {
    margin: 0px;
  }
}

h1 {
  font-size: 3em;
  color: rgb(9, 7, 10);
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #4c0072;
  background-color: #f0e6f5;
  padding: 0.5em;
  margin-bottom: 0em;
}

h2 {
  font-style: italic;
  font-size: 1.5em;
  background-color: #f0e6f5;
  padding: 0.25em 0.5em;
}

h2,
h3,
h4 {
  color: #99007f;
}

h3 {
  padding-bottom: 0.5em;
  border-bottom: 3px solid #99007f;
}

a:link {
  color: #660099;
}
a:visited {
  color: #876399;
}
a:hover {
  color: #339900;
}

.intro {
  font-size: 1.5em;
  color: #72005f;
  font-style: italic;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #d9eece;
  border: 1px #4c0072 solid;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  text-decoration: none;
  color: #226500;
  font-weight: bold;
  display: block;
  padding: 0.75em 1em;
}

.navigation a:hover {
  background-color: #bdeaa6;
}

.selected-link {
  background-color: #e7c2c2;
  text-decoration: none;
  color: #cb3737;
  font-weight: bold;
  display: block;
  padding: 0.75em 1em;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

form {
  width: 30em;
}

.form-control {
  margin-bottom: 1.5em;
}

textarea {
  min-height: 10em;
}

.form-control input,
.form-control textarea {
  padding: 0.5em;
}

.buttonGO {
  height: 40px;
  color: #4c0072;
  background-color: #d9eece;
  transition-property: all;
  transition-timing-function: ease;
}

.buttonGO:hover {
  width: 300px;
  background-color: #d83706;
  color: #ffffff;
  transition-duration: 2s;
  transform: scale(1.3);
}

.animation_css {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* Contact page */

/* Image gallery */
.full-img {
  position: relative;
  display: block;
  max-width: 640px;
  height: 100%;
}
.full-img img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 640px;
  height: 427px;
  background-color: rgba(0, 0, 0, 0);
}

.dark {
  border: 0;
  background: rgba(150, 150, 150, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar {
  display: block;
}

.thumb-bar img {
  width: 128px;
  float: left;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .thumb-bar img {
    width: 60px;
    height: 45px;
  }
  .thumb-bar {
    display: column;
  }
}

/* IMG map */
.mapmap {
  background-image: url(/images/img_map/background.png);
  background-size: cover; /* или background-size: 100% 100%; */
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 640px;
  height: 100%;
}

.mapmap img {
  height: 100%;
  width: 100%;
}

/* Interactive_map */
#googleMap {
  height: 400px;
  width: 100%;
  border: solid 0.5em;
}

/* Local Storage */

.form-container {
  position: relative;
  width: 300px;
  margin: 0 auto;
  background-color: #4c0072;
  padding: 1em;
}

.form-container input {
  display: block;
  margin-bottom: 10px;
}

.form-container button {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* ------------------------------------ */

@media only screen and (max-width: 600px) {
  li.selected-link {
    width: 70%;
  }
  .page-container {
    padding: 0.5em;
  }

  h1 {
    font-size: 2em;
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .navigation a {
    padding: 0.5em;
  }

  .cat video {
    margin: 0 auto;
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 1400px) {
  .navigation li {
    text-align: center;
    width: 95%;
  }
}

@media print {
  /* Стили для печати */
  body,
  h1,
  h2 {
    background-color: white;
    color: black;
    border-color: black;
  }
  a {
    text-decoration: black;
  }
  .navigation {
    display: none;
  }

  .overlay,
  .dark {
    display: none;
  }

  h1 {
    font-size: 2em;
    color: rgb(9, 7, 10);
    font-weight: normal;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 0em;
  }
}
